{% extends 'blog/base.html' %}

    {% block content %}
        <div class="date">
        {% if post.publicacion_fecha %}
            {{ post.publicacion_fecha }}
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_editar' post_pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_eliminar' post_pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <h1>{{ post.titulo }}</h1>
        <p>{{ post.texto|linebreaks }}</p>
    {% endblock %}